/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* color */
  --primary: #707070;
  --secondary: #0088FF;
  --gray-light: #F8F8F8;
  --gray-2: #3D3D3D;
  --gray-3: #333333;
  --dark-blue: #001527;

  /* font */
  --roboto: "Roboto", sans-serif;
 
  /* font-size */
  font-size: 16px;

}

/*------------------------------------*\
  #COMMON SECTION
\*------------------------------------*/


body {
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--primary);
  /* background-color: var(--gray-light); */
}


/*------------------------------------*\
  #COLOR
\*------------------------------------*/

.text-primary {
  color: var(--primary)
}

.text-secondary {
  color: var(--secondary)
}

.text-gray-2 {
  color: var(--gray-2)
}
.text-gray-3 {
  color: var(--gray-3)
}

.bg-primary {
  background-color: var(--primary);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}
.bg-secondary {
  background-color: var(--secondary);
}